<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')[0] }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Brand Manager{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/skeleton.css') }}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/main.css') }}" />
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.css"/>
        <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block nav %}{% endblock %}
        <div id="top-menu">
            <h4 id="app-title">BrandManager</h4>
            
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <div id="logged-user-container" style="text-align: right;">
                <a id="logged-user" href="{{ path('fos_user_profile_show') }}">{{ app.user.fullName }}</a>
                |
                <a id="logout" href="{{ path('fos_user_security_logout') }}">{{ 'bm.global.logout' | trans }}</a>
                </div>
            {% endif %}
            
        </div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
        <script src="https://cdn.datatables.net/v/dt/dt-1.10.16/datatables.min.js"></script>
        <script src="{{ asset('bundles/bazingajstranslation/js/translator.min.js') }}"></script>
        <script src="{{ asset('public/js/main.js') }}"></script>
        <script src="{{ asset('public/js/datatables.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        <script src="{{ url('bazinga_jstranslation_js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>


        {% block javascripts %}{% endblock %}
    </body>
</html>
