<div id="modules" class="two">
    <ul>
        {% for module in app.session.get('modules') %}
            <li id="{{ module.name }}" class="module"
                {% if module.route is defined %}onclick="location.href = '{{ path(module.route) }}'" {% endif %}>{{ module.label | trans }}</li>
            {% if module.submodules is defined %}
                <div id="{{ 'submodules-' ~ module.name }}"
                     class="submodules-container {% if module_name is defined and module_name == module.name %}current-module{% endif %}">
                    {% for submodule in module.submodules %}
                        <li class="submodule {% if submodule_name is defined and submodule_name == submodule.name %}current-submodule{% endif %}"
                            onclick="location.href = '{{ path(submodule.route) }}'">{{ submodule.label | trans }}</li>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}
    </ul>
</div>