{% extends 'module/push_notification.html.twig' %}
{% set submodule_name = 'submodule_push_message_history' %}


{% block content %}
    {% include 'pushmessage/history_search_box.html.twig' %}



    <h4>{{ 'bm.push_message.history' | trans }}</h4>
    <table id="test" class="datatables" data-load-ajax="true" data-data-route="{{ path('bm_pushmessage_history_ajax') }}">
        <thead>
        <tr>
            <th>{{ 'bm.push_message.properties.sent_date' | trans }}</th>
            <th>{{ 'bm.push_message.properties.subject' | trans }}</th>
            <th>{{ 'bm.push_message.properties.message' | trans }}</th>
            <th>{{ 'bm.push_message.properties.action' | trans }}</th>
            <th>{{ 'bm.push_message.properties.received_success_count' | trans }}</th>
            <th>{{ 'bm.push_message.properties.received_fail_count' | trans }}</th>
        </tr>
        </thead>
    </table>

{% endblock %}
{% block javascripts %}
    <script>

    </script>
{% endblock %}